:host {
    --top-extra-margin: 2vh;
}

u-header {
    div {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 2em;
        margin-left: auto;
    }

    span {
        font-size: 6em;
    }
}

section {
    display: grid;
    height: calc(100vh - var(--header-height) - var(--navbar-height) - var(--top-extra-margin));
    margin: calc(var(--header-height) + var(--top-extra-margin)) 5% var(--navbar-height) 5%;
    overflow: hidden;

    /*TODO: REMOVE*/
    border-color: var(--text-gray);
    border-width: 1px;
    border-style: solid;
}
