:host {
    --top-extra-margin: 2vh;
}

u-header {
    span {
        margin-left: auto;
        font-size: 6em;
        margin-right: 1rem;
    }

    u-spinner {
        margin-left: auto;
        width: 8rem;
        height: 2rem;
    }
}

section {
    display: grid;
    height: calc(100vh - var(--header-height) - var(--navbar-height) - var(--top-extra-margin));
    margin: calc(var(--header-height) + var(--top-extra-margin)) 5% var(--navbar-height) 5%;

    /*TODO: REMOVE*/
    border-color: var(--text-gray);
    border-width: 1px;
    border-style: solid;
}
