<u-header>
    <ul class="section-nav">
        <li uTextColorReact>About App</li>
        <li uTextColorReact>Overview</li>
        <li uTextColorReact>Assets</li>
    </ul>
    <div class="sign-in-button" routerLink="/sign-in" uBackgroundColorReact>
        <a>
            Sign In
        </a>
    </div>
</u-header>
<section class="about-section">
    <div class="about-info">
        <h1 class="text-gradient">
            Managing photos has never been easier!
        </h1>
        <p>
            Experience seamless photo organization with uPhoto.
            Effortlessly manage your entire library with intuitive features and powerful search capabilities.
            Revolutionize your photo management today!
        </p>
    </div>
    <div class="hero">
        <img alt="hero" fill ngSrc="assets/images/hero.png"/>
    </div>
</section>
