.header {
    --box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    align-items: center;
    background: var(--main-gradient);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    height: 7vh;
    min-height: 7em;
    padding: 0 10%;
    position: fixed;
    top: 0;
    width: 80vw;
    z-index: 10;
}

.uPhoto-logo {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin: 0;
}
