section {
    --padding-tb: 6vh;
    --page-width: 70em;
    --transition-time: 0.6s;

    height: calc(93vh - 2 * var(--padding-tb));
    width: 100vw;
    margin-top: 7vh;
    padding: var(--padding-tb) 0;

    gap: 4em;

    display: grid;
    grid-template-rows: 6% 1fr;
    overflow: hidden;
}

u-sign-in-toggle {
    margin: 0 auto;
}

.pages {
    display: flex;
    flex-direction: row;
    margin-left: calc((100% - var(--page-width)) / 2);
    width: fit-content;
}

.sign-in,
.sign-up {
    width: var(--page-width);
    height: 100%;
    border-radius: 3em;
    background-image: var(--main-gradient);
    box-shadow: var(--box-shadow);
    position: relative;

    transition: left var(--transition-time);
}

.sign-in {
    left: 0;
}

.sign-up {
    left: -50%;
}

.hide-left {
    left: -100%;
}

.hide-right {
    left: 100%;
}
