:host {
    --slide-dist: 2.4rem;
    display: flex;
    height: fit-content;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;

    /* Trick to make height same as parent width */
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.lds-ellipsis div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-image: var(--accent-gradient);
    border-radius: 50%;
    position: absolute;

    height: 0;
    padding-bottom: 16.25%;
    width: 16.25%;
}

.lds-ellipsis div:nth-child(1) {
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(var(--slide-dist), 0);
    }
}
