<app-header>
  <ul class="section-nav">
    <li uTextColorReact>About App</li>
    <li uTextColorReact>Overview</li>
    <li uTextColorReact>Assets</li>
  </ul>
  <div routerLink="/sign-in" uBackgroundColorReact class="sign-in-button">
    <a>
      Sign In
    </a>
  </div>
</app-header>
<section class="about-section">
  <div class="about-info">
    <h1 class="text-gradient">
      Managing photos has never been easier!
    </h1>
    <p>
      Thanks to uPhoto you don't have to worry about having large amounts
      of photos. With simple design and many options to group,
      sort and search files you don't have to worry any of your memories
      will be missed!
    </p>
  </div>
  <div class="hero">
    <img alt="hero" ngSrc="assets/images/hero.png" fill/>
  </div>
</section>
