.u-background-react {
    cursor: pointer;
    color: var(--main);
    background-image: var(--accent-gradient);

    &:hover {
        background-image: none;
        background-color: var(--accent-tint);
    }

    &:active {
        background-image: none;
        background-color: var(--accent-shade);
    }
}

.u-background-disabled {
    cursor: default;
    color: var(--main);
    background-image: var(--text-gray-gradient);
}

.u-shadow-react {
    box-shadow: var(--passive-box-shadow);
    transition: box-shadow 0.4s;

    &:hover {
        box-shadow: var(--active-box-shadow);
    }
}
